{
  "semi": true,
  "singleQuote": false,

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^#/(api|components|context|env|graphql|hooks|layouts|pages|server|types|utils|theme)/?(.*)$",
    "^#/theme/?(.*)$",
    "^#/(.*)$",
    "^[./]",
    "^\\S+.(scss|css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
