{
  "semi": true,
  "singleQuote": false,

  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^#/(api|components|entities|features|shared|context|env|graphql|hooks|layouts|pages|server|types|utils|theme|store|i18n)/?(.*)$",
    "^#/theme/?(.*)$",
    "^#/(.*)$",
    "^[./]",
    "^\\S+.(scss|css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
