.content {
    pre {
        margin-top: 0;
        margin-bottom: 1em;
        overflow: auto;
        white-space: pre-wrap;
        background-color: rgb(23, 32, 36);
        padding: 10px 15px;
        line-height: 1.6;
        font-size: 13px;
        border-radius: 3px;
    }
}
